h1{text-align: center;
    color:#000000;
    font-size: 60px;
}

body{
    font-family: sans-serif;
}


footer{
    font-size: 25px;
    background-color: #0C151C;
    color: #E4E5EA;
}


section{display: flex;
justify-content: space-evenly;}


article{width: 500px;
font-size: 25px;
text-align: center;
}
article img{width: 300px;
height: 400px;}

h2{text-align: center;}

.card{
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    transition: 0.5s;
}

.card:hover{
    transform: translateY(-10px);
}

a{
    text-decoration: none;
}

.links{
    color: black;
    font-size: 20px;
}

header{
    background-color: ;
}